<p id="notice"><%= notice %></p>
<p>
  <b>Election:</b>
  <%= @question.election_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Limit:</b>
  <%= @question.limit %>
</p>

<p>
  <b>Write in:</b>
  <%= @question.write_in %>
</p>

<p>
  <b>Updid:</b>
  <%= @question.updid %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'My Elections', elections_path %> |
<%= link_to 'Edit options', new_answer_path(:question_id => @question, :election_id =>@question.election_id) %>
