<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @ballot.election_id %>
</p>

<p>
  <b>Time:</b>
  <%= @ballot.time %>
</p>


<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
