<h1>Listing voter_lists</h1>

<table>
  <tr>
    <th>Election</th>
    <th>User</th>
    <th>Voted</th>
    <th>Updid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voter_lists.each do |voter_list| %>
  <tr>
    <td><%= voter_list.election_id %></td>
    <td><%= voter_list.user_id %></td>
    <td><%= voter_list.voted %></td>
    <td><%= voter_list.updid %></td>
    <td><%= link_to 'Show', voter_list %></td>
    <td><%= link_to 'Edit', edit_voter_list_path(voter_list) %></td>
    <td><%= link_to 'Destroy', voter_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voter list', new_voter_list_path %>
