<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @voter_list.election_id %>
</p>

<p>
  <b>User:</b>
  <%= @voter_list.user_id %>
</p>

<p>
  <b>Voted:</b>
  <%= @voter_list.voted %>
</p>

<p>
  <b>Updid:</b>
  <%= @voter_list.updid %>
</p>


<%= link_to 'Edit', edit_voter_list_path(@voter_list) %> |
<%= link_to 'Back', voter_lists_path %>
