<h1>Listing election_users</h1>

<table>
  <tr>
    <th>Election</th>
    <th>User</th>
    <th>Edit</th>
    <th>View results</th>
    <th>Updid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @election_users.each do |election_user| %>
  <tr>
    <td><%= election_user.election_id %></td>
    <td><%= election_user.user_id %></td>
    <td><%= election_user.edit %></td>
    <td><%= election_user.view_results %></td>
    <td><%= election_user.updid %></td>
    <td><%= link_to 'Show', election_user %></td>
    <td><%= link_to 'Edit', edit_election_user_path(election_user) %></td>
    <td><%= link_to 'Destroy', election_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Election user', new_election_user_path %>
