<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @election_user.election_id %>
</p>

<p>
  <b>User:</b>
  <%= @election_user.user_id %>
</p>

<p>
  <b>Edit:</b>
  <%= @election_user.edit %>
</p>

<p>
  <b>View results:</b>
  <%= @election_user.view_results %>
</p>

<p>
  <b>Updid:</b>
  <%= @election_user.updid %>
</p>


<%= link_to 'Edit', edit_election_user_path(@election_user) %> |
<%= link_to 'Back', election_users_path %>
