<%= form_for(@voter) do |f| %>
  <% if @voter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voter.errors.count, "error") %> prohibited this voter from being saved:</h2>

      <ul>
      <% @voter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :election_id %><br />
    <%= f.number_field :election_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :voted %><br />
    <%= f.check_box :voted %>
  </div>
  <div class="field">
    <%= f.label :updid %><br />
    <%= f.text_field :updid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
