<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @voter.election_id %>
</p>

<p>
  <b>User:</b>
  <%= @voter.user_id %>
</p>

<p>
  <b>Voted:</b>
  <%= @voter.voted %>
</p>

<p>
  <b>Updid:</b>
  <%= @voter.updid %>
</p>


<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
