<table class="table">
    <tr>
        <th>Title</th>
        <th>Contact</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Duplicate?</th>
    </tr>

    <% @elections.each do |election| %>
        <tr>
            <td><%= election.title %></td>
            <td><%= election.contact %></td>
            <td><%= election.owner %></td>
            <td>Status Here</td>
            <td><%= election.start %></td>
            <td><%= election.end %></td>
            <td><%= link_to 'Show', election %></td>
            <td><%= link_to 'Edit', edit_election_path(election) %></td>
            <td><%= link_to 'Destroy', election, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td>Duplicate</td>
        </tr>
    <% end %>
</table>
<br />
<%= link_to 'New Election', new_election_path %>
