<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @election.title %>
</p>

<p>
  <b>Description:</b>
  <%= @election.description %>
</p>

<p>
  <b>Contact:</b>
  <%= @election.contact %>
</p>

<p>
  <b>Owner:</b>
  <%= @election.owner %>
</p>

<p>
  <b>Start:</b>
  <%= @election.start %>
</p>

<p>
  <b>End:</b>
  <%= @election.end_dt %>
</p>

<p>
  <b>Updid:</b>
  <%= @election.updid %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
